# Note: documentation for all flags can be founr at: https://registry.build/flag/bazel@8.3.1

# Cache options

# common --remote_cache=grpc://pablo.microblink.com:9092 --remote_cache_compression=true
common --disk_cache=~/.bazel-cache/build --repository_cache=~/.bazel-cache/repo --experimental_disk_cache_gc_max_size=50G

# Build flags
common --cxxopt=-std=c++23 --copt=-g --strip=never

# Build features
common --features=asan --features=ubsan
common --test_tag_filters=host
common --android_platforms=//:arm64-v8a,//:armeabi-v7a

common:release --features=-asan --features=-ubsan --compilation_mode=opt --features=thin_lto
common:debug --compilation_mode=dbg

common:mobile --features=-asan --features=-ubsan

common:android --config=mobile --test_tag_filters=android --extra_toolchains=@androidndk//:all --extra_toolchains=@androidsdk//:all

common:ios_device --config=mobile --ios_multi_cpus=arm64 --test_tag_filters=ios
common:ios_simulator --config=mobile --test_tag_filters=ios

common:wasm --config=mobile --test_tag_filters=wasm-basic,wasm-advanced,wasm-advanced-threads

# MacOS Debuggable Configuration needs disabled cache dir and disabled remote cache in order for the debugger to work properly
build:mac_debuggable --spawn_strategy=local --disk_cache= --remote_cache=

build:rules_xcodeproj --config=mobile

# Special flags for CI

common:ci --show_progress_rate_limit=10 --show_progress=true --test_output=errors --show_timestamps=true --test_timeout=300

import xcode.bazelrc
